<aside class="container">

    <h3>Información Relevante</h3>

    <p>
        <strong>Promociones:</strong>
        ¡Regístrate este mes como vendedor en EcuaCompras y quédate con el 100% de tus ganancias en tus primeras 50 ventas!
    </p>

    <p>
        <strong>Horarios de Atención:</strong>
        WhatsApp lunes a sábados de 08:00 a 17:00
    </p>

</aside>

<footer>

    <p><strong>Estudiante:</strong> {{ info_sistema.estudiante }}</p>

    <p><strong>Asignatura:</strong> {{ info_sistema.asignatura }}</p>

    <p><strong>Sistema:</strong> {{ info_sistema.nombre }} v{{ info_sistema.version }} - {{ info_sistema.anio }}</p>

</footer>
